Content-Type: text/html


BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
P {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #002b5f
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #002b5f
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #570000
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #570000
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
.lmenugap {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 1px; TEXT-DECORATION: none
}
.rmenugap {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 1px; TEXT-DECORATION: none
}
.submenugap {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 1px; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #002b5f; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #002b5f; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #002b5f; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff6633; TEXT-DECORATION: underline
}
.menured {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #570000
}
.menured:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #570000; TEXT-DECORATION: none
}
.menured:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #570000; TEXT-DECORATION: none
}
.menured:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #002b5f; TEXT-DECORATION: none
}
.menu {
	FONT-SIZE: 11px; COLOR: #002b5f; TEXT-DECORATION: none
}
.menu:link {
	FONT-SIZE: 11px; COLOR: #002b5f; TEXT-DECORATION: none
}
.menu:visited {
	FONT-SIZE: 11px; COLOR: #002b5f; TEXT-DECORATION: none
}
.menu:hover {
	FONT-SIZE: 11px; COLOR: #570000; TEXT-DECORATION: none
}
.news {
	FONT-SIZE: 11px; COLOR: #000000
}
.news:link {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
.news:visited {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
.news:hover {
	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none
}
.caption {
	FONT-SIZE: 10px; COLOR: #666666; FONT-STYLE: italic
}
.heading {
	FONT-SIZE: 13px; COLOR: #000000
}
.greyheading {
	FONT-SIZE: 12px; COLOR: #666666
}
.greyheading:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.greyheading:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.greyheading:hover {
	FONT-SIZE: 12px; COLOR: #570000; TEXT-DECORATION: none
}
.footer {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.footer:link {
	FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: underline
}
.footer:visited {
	FONT-SIZE: 12px; COLOR: #cccccc; TEXT-DECORATION: underline
}
.footer:active {
	FONT-SIZE: 12px; COLOR: #cccccc; TEXT-DECORATION: underline
}
.footer:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.whiteLink {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.blueLink {
	FONT-SIZE: 12px; COLOR: #002b5f
}
.greyLink {
	COLOR: #666666; TEXT-DECORATION: none
}
.whiteLink:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.blackLink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.greyLink:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.whiteLink:visited {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
.blackLink:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.greyLink:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.whiteLink:hover {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
.blackLink:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
.greyLink:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
.standardtable {
	BORDER-COLLAPSE: collapse
}
TABLE.standardtable {
	BORDER-COLLAPSE: collapse
}
TABLE.standardtable TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.standardtable TH {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.descriptivelink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #002b5f
}
TABLE.importantdates TD {
	font-size: 10px; border: 0; padding: 0;
}

SPAN.text_b { font-size: 12px; font-weight: bold; }

